
{% extends "Farmacia/layout.html" %}
{% block titulo %} MEDICAMENTOS ASIGNADOS {%endblock%}


{% block Encabezado%}


<div class="page-header">
  <div class="titulo">
    <h1>“Listado de Medicamentos asignados. Albergue Divino Redentor.</h1>
</div>
</div>
 {%endblock%}
 {% block Contenido_Farmacia %}

 <div class="cursos-container" style="display: flex; flex-wrap: wrap; gap: 20px; justify-content: center; margin-left: -240px;">
  {% for medicamento in MD %}
  <div class="curso-card">
    <h4>{{ medicamento.asignado_a }}</h4>
    <p><strong>Nombre de medicamento:</strong> {{ medicamento.medicamento }}</p>
    <p><strong>fecha de asignacion:</strong> {{ medicamento.fecha_asignacion }}</p>
    <p><strong>Cantidad asignada:</strong> {{ medicamento.cantidad }}</p>
</div>

  {% endfor %}
</div>

 <br><br><br><br><br><br><br><br>
 {% endblock %}