
{% extends "Farmacia/layout.html" %}
{% block titulo %} PRINCIPAL {%endblock%}


{% block Encabezado%}

<div class="page-header">
  <div class="titulo">
    <h1>Servicios Médicos - Albergue Divino Redentor</h1>
  </div>
</div>


{%endblock%}

{% block Contenido_Farmacia %}
<div class="container mt-5"  style="margin-left: -170px; ">
  <div class="card">
    <div class="card-header bg-info text-white">
      <h2 class="card-title mb-0">Medicamentos con Stock Bajo</h2>
    </div>
    <div class="card-body">
      <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">Alerta de Stock Bajo</h4>
        <p>A continuación se muestra la lista de medicamentos con stock bajo:</p>
      </div>

      <div class="row mt-4">
        {% for medicamento in STOCKmedicamentos %}
        <div class="col-md-6">
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">{{ medicamento.nombre }}</h5>
              <p class="card-text">Cantidad: {{ medicamento.cantidad }}</p>
            </div>
            {% if medicamento.cantidad < 5 %}
            <div class="card-footer bg-danger text-white">
              ¡Bajo stock!
            </div>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>

    </div>
  </div>
</div>
{% endblock %}