{% extends "Farmacia/layout.html" %}
{% block titulo %} SALIDA DE MEDICAMENTOS {%endblock%}


{% block Encabezado%}

<div class="page-header">
    <div class="titulo">
      <h1>“Salida de medicamentos”. Albergue Divino Redentor.</h1>
  </div>
  </div>

 {%endblock%}

 {% block Contenido_Farmacia%}



<div class="container mt-5" style="margin-left: -170px; ">
  <h2>Asignar Suministro</h2>
  <form class="form-horizontal" action="{% url 'salidaMedicamentos' %}" method="POST" role="form">
    {% csrf_token %}
    <div class="form-group">
      <label for="{{ form.medicamento.id_for_label }}" class="col-sm-2 control-label">{{ form.medicamento.label }}</label>
      <div class="col-sm-10">
        {{ form.medicamento }}
      </div>
    </div>
    <div class="form-group">
      <label for="{{ form.cantidad.id_for_label }}" class="col-sm-2 control-label">{{ form.cantidad.label }}</label>
      <div class="col-sm-10">
        {{ form.cantidad }}
      </div>
    </div>
    <div class="form-group">
      <label for="{{ form.asignado_a.id_for_label }}" class="col-sm-2 control-label">{{ form.asignado_a.label }}</label>
      <div class="col-sm-10">
        {{ form.asignado_a }}
      </div>
    </div>
    <div class="form-group text-right">
      <button type="submit" class="btn btn-primary" style="margin-left: -400px;">Asignar</button>
    </div>
  </form>
</div>
{% comment %} AQUI COLOCAR EL FORMUALRIO DE SALIDA DE PRODUCTOS - TAREA DE ELI{% endcomment %}

 {%endblock%}