{% extends "Farmacia/layout.html" %}
{% block titulo %} SALIDA DE MEDICAMENTOS {%endblock%}


{% block Encabezado%}

<div class="page-header">
    <div class="titulo">
      <h1>“Salida de medicamentos”. Albergue Divino Redentor.</h1>
  </div>
  </div>

 {%endblock%}

 {% block Contenido_Farmacia%}


 
 <div class="container mt-2" style="max-width: 600px; margin-left: 115px;" >
  <div class="card shadow-lg p-4" style="background-color: #fff; border: 1px solid #ddd; border-radius: 15px;">
      <h3 class="card-title text-center mb-4" style="color: #8abbd6;">Asignar Medicamento</h3>
      <form action="{% url 'salidaMedicamentos' %}" method="POST" role="form">
          {% csrf_token %}
          <div class="form-group">
              <label for="{{ form.medicamento.id_for_label }}" style="color: #555;">{{ form.medicamento.label }}</label>
              {{ form.medicamento }}
          </div>
          <div class="form-group">
              <label for="{{ form.cantidad.id_for_label }}" style="color: #555;">{{ form.cantidad.label }}</label>
              {{ form.cantidad }}
          </div>
          <div class="form-group">
              <label for="{{ form.asignado_a.id_for_label }}" style="color: #555;">{{ form.asignado_a.label }}</label>
              {{ form.asignado_a }}
          </div>
          <div class="text-center mt-4">
              <button type="submit" class="btn btn-primary btn-block" style="background-color: #8abbd6; border-color: #8abbd6; padding: 10px 20px; border-radius: 8px;">Asignar</button>
          </div>
      </form>
  </div>
</div>

<br>
 {%endblock%}